@inherits LayoutComponentBase

<div class="page">
    <header class="topbar">
        <a class="brand" href="/">BlazorApp</a>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>
</div>
